$font-color: #f6f6f6;
$bg-color: black;

$darkMode-font-color: #f6f6f6;
$darkMode-btn-color: #393939;

.btn {
  right: 30px;
  bottom: 30px;
  border: 0;
  border-radius: 20px;
  color: $font-color;
  background-color: $bg-color;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  &.darkMode {
    color: $darkMode-font-color;
    background-color: $darkMode-btn-color;
  }
}
// 모바일 세로
@media (min-width: 360px) and (max-width: 767px) {
  .btn {
    width: 100%;
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 0;
    padding: 15px 10px;
    font-size: 18px;
  }
}

// 태블릿 세로
@media (min-width: 768px) and (max-width: 1024px) {
  .btn {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1;
    padding: 15px 10px;
    font-size: 18px;
  }
}
