$darkMode-btnColor: #393939;
$darkMode-btnfontColor: #f6f6f6;

.btn {
  right: 30px;
  bottom: 30px;
  border: 0;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
.btn.darkMode {
  background-color: $darkMode-btnColor;
  color: $darkMode-btnfontColor;
}
// 모바일 세로
@media (min-width: 360px) and (max-width: 767px) {
  .btn {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    right: 0;
    border-radius: 0;
    padding: 15px 10px;
    font-size: 18px;
  }
}

// 태블릿 세로
@media (min-width: 768px) and (max-width: 1024px) {
  .btn {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1;
    padding: 15px 10px;
    font-size: 18px;
  }
}
