.btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border: 0;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
  }
  &:not(:hover) {
    transition: transform 200ms ease-in-out;
  }
}
