$darkMode-bgColor: #151515;
.main {
  display: flex;
  ul {
    padding-left: 0;
    margin: 0;
    flex-grow: 1;
    padding: 20px;
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 200px);
    gap: 30px;
    background-color: white;
    &.darkMode {
      background-color: $darkMode-bgColor;
    }
  }
}
