// 폰트
$font-family: 'Noto Sans KR', 'Noto Sans', system-ui;
$font-nickname: 14px;
$font-date: 12px;
$font-text: 14px;
$font-text-color: #242424;

// 모바일
$mobile-font-text: 14px;

// 라인
$line-color: #f0f0f0;
$line-height: 1.5;

// 다크모드
$darkMode-bg-color: #272727;
$darkMode-font-color: #f6f6f6;
$darkMode-font-color-darker: #bdbdbd;
$darkMode-line-color: #3f3f3f;

%card-hover {
  transition: transform 200ms ease-in-out;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: white;
  border: 1px solid $line-color;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  &.darkMode {
    border: 1px solid $darkMode-line-color;
  }
  &:hover {
    transform: translateY(-5px);
    @extend %card-hover;
  }
  &:not(:hover) {
    @extend %card-hover;
  }
  .text {
    padding: 10px;
    flex-grow: 3;
    overflow: hidden;
    font-size: $font-text;
    font-family: $font-family;
    color: $font-text-color;
    line-height: $line-height;
    &.darkMode {
      background-color: $darkMode-bg-color;
      color: $darkMode-font-color;
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid $line-color;
    &.darkMode {
      background-color: $darkMode-bg-color;
      border-top: 1px solid $darkMode-line-color;
    }
    .user {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      .nickname {
        font-size: $font-nickname;
        font-weight: 500;
        font-family: $font-family;
        &.darkMode {
          color: $darkMode-font-color;
        }
      }
    }
    .createdAt {
      font-size: $font-date;
      color: $font-text-color;
      &.darkMode {
        color: $darkMode-font-color-darker;
      }
    }
  }
}
// 모바일 세로
@media (min-width: 360px) and (max-width: 767px) {
  li {
    &.darkMode {
      border: 1px solid $darkMode-line-color;
    }
    height: 100%;
    .text {
      line-height: 1.5;
      font-size: $mobile-font-text;
    }
    .info {
      border-top: 1px solid $line-color;
      &.darkMode {
        border-top: 1px solid $darkMode-line-color;
      }
    }
  }
}

// 태블릿 세로
@media (min-width: 768px) and (max-width: 1024px) {
}
