$darMode-bgColor: #151515;
$darkMode-fontColor: #f6f6f6;
$darkMode-btnColor: #393939;
$darkMode-subFontColor: #818181;

.background {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  .main {
    display: none;
    position: absolute;
    width: 50%;
    height: 90%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .header {
      display: flex;
      justify-content: flex-end;
      &.darkMode {
        background-color: $darMode-bgColor;
      }
      .closeBtn {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        .icon.darkMode {
          color: $darkMode-subFontColor;
        }
      }
    }
    .section {
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
      justify-content: center;
      height: 90%;
      &.darkMode {
        background-color: $darMode-bgColor;
      }

      .content {
        resize: none;
        border: 0;
        flex-grow: 1;
        font-size: 14px;
        &.darkMode {
          background-color: $darMode-bgColor;
          color: $darkMode-fontColor;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      &.darkMode {
        background-color: $darMode-bgColor;
      }
      & button {
        border: 0;
        border-radius: 20px;
        padding: 7px 15px;
        font-weight: 700;
        cursor: pointer;
      }
      .deleteBtn {
        margin-right: 10px;
        background-color: #ff0000;
        color: white;
        &:hover {
          background-color: #ed0000;
        }
      }
      .updateBtn {
        background-color: black;
        color: white;
        &.darkMode {
          background-color: $darkMode-btnColor;
        }
      }
    }
  }
  .openMain {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
}
.openBackground {
  display: block;
}
