$darMode-bgColor: #151515;
$darkMode-fontColor: #f6f6f6;
$darkMode-btnColor: #393939;

.background {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  .main {
    display: none;
    position: absolute;
    width: 50%;
    height: 90%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .section {
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
      justify-content: center;
      height: 90%;
      &.darkMode {
        background-color: $darMode-bgColor;
      }

      .content {
        resize: none;
        border: 0;
        flex-grow: 1;
        font-size: 14px;
        &:focus {
          outline: none;
        }
        &.darkMode {
          background-color: $darMode-bgColor;
          color: $darkMode-fontColor;
        }
      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      &.darkMode {
        background-color: $darMode-bgColor;
      }
      & button {
        border: 0;
        border-radius: 20px;
        padding: 7px 15px;
        font-weight: 700;
        cursor: pointer;
      }
      .closeBtn {
        margin-right: 10px;
        border: 0;
        background-color: #e4e4e4;
        &:hover {
          background-color: #d2d2d2;
        }
      }
      .createBtn {
        background-color: black;
        color: white;
        &.darkMode {
          background-color: $darkMode-btnColor;
        }
      }
    }
  }
  .openMain {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
}
.openBackground {
  display: block;
}

// 모바일 세로
@media (min-width: 360px) and (max-width: 767px) {
  .background {
    .main {
      width: 101%;
      height: 100%;
      border-radius: 0%;
      z-index: 1;
      .footer {
        justify-content: center;
        button {
          width: 100%;
        }
      }
    }
  }
}

// 태블릿 세로
@media (min-width: 768px) and (max-width: 1024px) {
  .background {
    .main {
      width: 80%;
      height: 70%;
      .footer {
        justify-content: space-between;
        button {
          width: 100%;
        }
      }
    }
  }
}
// 태블릿 가로
@media (min-width: 1025px) and (max-width: 1279px) {
  .background {
    .main {
      .footer {
        justify-content: space-between;
        & button {
          width: 100%;
        }
      }
    }
  }
}
