$bgColor: #f6f6f6;
$bgColorHover: #e4e4e4;
$darkMode-subBgColor: #272727;
$darkMode-fontColor: #f6f6f6;
$darkMode-bgColorHover: #4b4b4b;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: $bgColor;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  .col:first-child {
    display: flex;
    justify-content: space-between;
    .info {
      display: flex;
      align-items: center;
      gap: 10px;
      .profileImg {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
      .nickname {
        font-weight: 600;
        &.darkMode {
          color: $darkMode-fontColor;
        }
      }
    }
    .btnAndIcon {
      display: flex;
      gap: 10px;
      align-items: center;
      .logoutBtn {
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &.darkMode {
          color: $darkMode-fontColor;
        }
      }
      .arrow {
        cursor: pointer;
        &:hover {
          background-color: $bgColorHover;
          border-radius: 50%;
          box-sizing: border-box;
          padding: 1px;
        }
        &.darkMode {
          color: $darkMode-fontColor;
        }
        &.darkMode:hover {
          background-color: $darkMode-bgColorHover;
        }
        &.clicked {
          transform: rotate(180deg);
        }
      }
    }
  }
  &.darkMode {
    background-color: $darkMode-subBgColor;
  }

  .darkModeBtn {
    display: none;
    align-items: center;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: $bgColorHover;
    }
    &.darkMode:hover {
      background-color: $darkMode-bgColorHover;
    }
    &.clicked {
      display: flex;
    }
    .icon.darkMode {
      color: $darkMode-fontColor;
    }
    .text.darkMode {
      color: $darkMode-fontColor;
    }
  }
}

// 모바일 세로
@media (min-width: 360px) and (max-width: 767px) {
  .main {
    background-color: transparent;
    .col {
      .info {
      }
    }
    .darkModeBtn {
      padding: 0;
      gap: 10px;
      .icon {
        width: 20px;
        height: 20px;
      }
      .text {
        font-size: 14px;
      }
    }
  }
}

// 태블릿 세로
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    background-color: transparent;
  }
}
// 태블릿 가로
@media (min-width: 1025px) and (max-width: 1279px) {
}
