$darkMode-bg-color: #151515;

.main {
  display: flex;
  background-color: #f8f9fa;
  height: 100vh;
  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.main.darkMode {
  background-color: $darkMode-bg-color;
}

// 모바일 세로
@media (min-width: 360px) and (max-width: 767px) {
  .main {
    flex-direction: column;
    height: 100%;
    .section {
      height: 100%;
      padding-top: 66px;
      margin-bottom: 52px;
    }
  }
}

// 태블릿 세로
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    flex-direction: column;
    height: 100%;
    .section {
      height: 100%;
      padding-top: 66px;
      margin-bottom: 52px;
    }
  }
}
// 태블릿 가로
@media (min-width: 1025px) and (max-width: 1279px) {
}
