.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    .idInput,
    .passwordInput {
      height: 42px;
      font-size: 16px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid black;
      box-sizing: border-box;
    }
    .idInput:focus,
    .passwordInput:focus {
      border: 2px solid black;
      outline: none;
    }
    .idMessage,
    .passwordMessage {
      height: 20px;
      padding: 5px;
      color: red;
      font-weight: 600;
    }
    .loginBtn {
      border-radius: 5px;
      font-size: 20px;
      background-color: black;
      color: white;
      font-weight: 700;
      margin-top: 40px;
      padding: 10px;
      cursor: pointer;
    }
    .idMessage,
    .passwordMessage {
      font-size: 13px;
    }
  }
}
