$darkMode-bg-color: #151515;
$darkMode-btn-color: #393939;
$darkMode-font-color: #f6f6f6;
$darkMode-sub-bg-color: #272727;
$darkMode-sub-font-color: #818181;
$darkMode-error-color: #c90000;

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.darkMode {
    background-color: $darkMode-bg-color;
  }
  .logo {
    position: absolute;
    top: 20%;
    font-size: 60px;
    font-weight: 600;
    &.darkMode {
      color: $darkMode-font-color;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    // id, password 입력창
    .idInput,
    .passwordInput {
      height: 42px;
      font-size: 16px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid black;
      box-sizing: border-box;
      // focus 되었을 때
      &:focus {
        border: 2px solid black;
        outline: none;
      }
      // 메세지가 나타날 때
      &.focusId,
      &.focusPassword {
        border: 2px solid red;
        outline: none;
      }
      // 다크모드일 때
      &.darkMode {
        background-color: $darkMode-sub-bg-color;
        color: $darkMode-font-color;
      }
      // 다크모드에서 focus 되었을 때
      &.darkMode:focus {
        border: 2px solid $darkMode-sub-font-color;
      }
      // 다크모드에서 메세지가 나타날 때
      &.darkMode.focusId,
      &.darkMode.focusPassword {
        border: 2px solid $darkMode-error-color;
      }
    }

    .idMessage,
    .passwordMessage {
      height: 20px;
      padding: 5px;
      color: red;
      font-weight: 600;
      &.darkMode {
        color: $darkMode-error-color;
      }
    }
    .loginBtn {
      border: none;
      border-radius: 5px;
      font-size: 20px;
      background-color: black;
      color: white;
      font-weight: 700;
      margin-top: 10px;
      padding: 10px;
      cursor: pointer;
      &.darkMode {
        background-color: $darkMode-btn-color;
        color: $darkMode-font-color;
      }
    }
    .idMessage,
    .passwordMessage {
      font-size: 13px;
    }
  }
  .signup {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: gray;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}
// 모바일 세로
@media (min-width: 360px) and (max-width: 767px) {
  .main {
    height: 100dvh;
    .logo {
      top: 15%;
      font-size: 40px;
    }
    .form {
      width: 80vw;
      .idInput::placeholder,
      .passwordInput::placeholder {
        font-size: 14px;
      }
      .loginBtn {
        font-size: 16px;
      }
    }
    .signup {
      font-size: 15px;
    }
  }
}

// 태블릿 세로
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    height: 100dvh;
    .signup {
      font-size: 16px;
    }
  }
}
// 태블릿 가로
@media (min-width: 1025px) and (max-width: 1279px) {
}
