.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .text {
    height: 40%;
    font-size: 80px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .btns {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 40px;
    & * {
      border: none;
      border-radius: 40px;
      background-color: transparent;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
    }
    .loginText {
      background-color: white;
      border: 1px solid black;
      color: black;
    }
    .signupText {
      background-color: black;
      color: white;
    }
  }
}
// 모바일 세로
@media (min-width: 360px) and (max-width: 767px) {
  .main {
    .text {
      font-size: 40px;
    }
    .btns {
      .loginText {
        font-size: 14px;
        padding: 10px 30px;
        font-weight: 700;
      }
      .signupText {
        font-size: 14px;
        padding: 10px 30px;
        font-weight: 700;
      }
    }
  }
}

// 태블릿 세로
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    .text {
      font-size: 60px;
    }
    .btns {
    }
  }
}
// 태블릿 가로
@media (min-width: 1025px) and (max-width: 1279px) {
}
